* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 18px;
  color:#5CE1E6 ;
  background-color: #f5f6f7;
 }

h1 {
  max-width: 940px;
  font-size: 2.5em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  line-height: 2;
  text-shadow: 0 0 3px #2600ff, 0 0 5px #0000FF;
}

.App{
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  
}

.conteneedor-principal {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  min-height: 600px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color:chartreuse;
  
}

