* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 15px;
  color:#0daaaf ;
  background-color: #e8edf1;
  
 }

h1 {
  font-size: 2.5em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  text-shadow: 0 0 3px #2600ff, 0 0 5px #0000FF;
}

.App{
  min-height: 300px;
  display: absolute;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  
}

.contenedor-principal {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  display: absolute;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; 
}

.logo-notes{
  width: 150px;
  height: 150px;
}


