.tarea-form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.tarea-input{
    width: 350px;
    height: 100px;
    font-size: 18px;
    background-color: rgb(241, 248, 247);
    padding: 14px 32px 14px 16px;
    border: 2px solid #5CE1E6;
    outline: none;
    margin: 50px;
}

.tarea-boton{
    padding: 10px;
    font-size: 15px;
    font-family: Roboto, sans-serif;
    border: 2px solid #5CE1E6 ;
    border-radius: 15px;
    box-shadow: 5px 3px rgba(65, 62, 245, 0.5);
    cursor: pointer;
    outline: none;
    background-color: #bef6f8 ;
    text-transform: capitalize;
}